<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="equipmentsApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="equipmentsApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="equipmentsApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="equipmentsApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>POC Angular - Tinyclues</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="css/app.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body >

  <div class="row" ng-app="equipmentsApp" ng-controller="equipmentsController">
    <div class="col-md-6">
      <table class="equipmentsTable table">
        <thead>
          <tr>
            <th colspan="4">Liste des équipements autour de vous</th>
            <th colspan="2">
              <input type="text" ng-model="equipment.name"/>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>Nom</td>
            <td>Adresse</td>
            <td>Code Postal</td>
            <td>Latitude</td>
            <td>Longitude</td>
          </tr>
          <tr ng-repeat="equipment in equipments | filter:equipment" >
            <td><input type="checkbox" class="checkbox checkbox_{{$index}}" ng-model="equipment.checked"/></td>
            <td>{{equipment.name}}</td>
            <td>{{equipment.adress}}</td>
            <td>{{equipment.postalCode}}</td>
            <td>{{equipment.latitude}}</td>
            <td>{{equipment.longitude}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <table class="favorisTable table">
        <thead>
        <tr>
          <th colspan="3">Favoris</th>
          <th colspan="2">
            <input type="text" ng-model="favoriteName.name"/>
          </th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>Nom</td>
            <td>Adresse</td>
            <td>Code Postal</td>
            <td>Latitude</td>
            <td>Longitude</td>
          </tr>
          <tr ng-repeat="equipment in equipments | favorite | filter:favoriteName">
            <td>{{equipment.name}}</td>
            <td>{{equipment.adress}}</td>
            <td>{{equipment.postalCode}}</td>
            <td>{{equipment.latitude}}</td>
            <td>{{equipment.longitude}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-12">
      <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
    </div>



  </div>



  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/app.min.js"></script>
  <script src="js/controllers.js"></script>
  <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
  <script src="bower_components/lodash/dist/lodash.min.js"></script>
  <script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
  <!--<script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>-->
  <script src="../components/version/version.js"></script>
  <script src="../components/version/version-directive.js"></script>
  <script src="../components/version/interpolate-filter.js"></script>
</body>
</html>
